<h1>Чат</h1>
<form action="" id="chat">
  <div>
    <input type="text" name="message" id="message">
  </div>
  <div>
    <button type="submit" class="btn">Отправить</button>
  </div>
</form>
<ul class="" id="messages"></ul>