body  {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

h1 {
  font-size: 3rem;
}

.nav-wrapper .fa-bars {
  font-size: 2em;
}

footer {
  margin-top: 2em;
}

.story-text {
  height: 50px;
}

.dash-status {
  text-transform: capitalize;
}

#delete-form {
  display: inline;
}

img.story-detail__image {
  max-width: 150px;
}

.story-list .story {
  margin-bottom: 2em;
}