<h1>Добро пожаловать</h1>

<p>Post stories from the best and worst of your life and choose for them to be read be the world of completly private as your own personal diary</p>

{{#unless user}}


<a href="/auth/google" class="btn red darken-1">
  <i class="fab fa-google left"></i> 
  Войти
</a>
{{/unless}}