<h1>Добро пожаловать</h1>

<p>Это мини соцсеть с возможностью публиковать истории с разным режимом конфиденциальности</p>
<p>Авторизоваться можете через это:</p>
{{#unless user}}


<a href="/auth/google" class="btn red darken-1">
  <i class="fab fa-google left"></i> 
  Google
</a>
<a href="/auth/vkontakte" class="btn blue darken-1">
  <i class="fab fa-vk left"></i>
  Вконтакте
</a>
<a href="/auth/instagram" class="btn green darken-1">
  <i class="fab fa-instagram left"></i>
  Инстаграм
</a>
{{/unless}}